{% extends 'index2.html' %}



    <body>
        <h1 class="text-center text-success">Registration Form</h1>
        <div class="w-100 d-flex flex-column justify-content-center align-items-center p-5">
            <div class="w-50 border shadow p-5 align-items-center p-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <table class="table">
                        {{form.as_table}}
                    </table>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
