{% extends 'navbar.html' %}
{% block main %}

<br><br><br><br><br>

<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
            <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise cattles...</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pCklPidvvOY?si=aDx5720a-iVEQoZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ul>
</div>
<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
        <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise Goats...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YTCm1sMe8dc?si=-R6NsNraot4eteRZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </ul>
</div>
<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
        <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise chickens...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F79a92yg3U8?si=z5toAkO5RQJ_geAh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </ul>
</div>
<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
        <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise Horses...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zI8JSTGtRQc?si=ZZDrIZCJgSwkBMCJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </ul>
</div>
<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
        <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise Pigs...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PJzb1tn-Bv0?si=c3Gp1SJEauzrqP4B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </ul>
</div>
<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
        <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise Ducks...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4mW9SWIBQDI?si=bEnE4624_tSveXGa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </ul>
</div>
<div class="border border-dark border-1 m-3">
    <ul class=" text-center">
        <h3><i class="fa-solid fa-arrow-right fa-beat"></i>&nbsp;How to raise Rabbits...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1s-ydKa7nPA?si=DJPN4zEF495kmiyz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </ul>
</div>   





{% endblock main %}